sudo: false

language: python

python: "2.7"

# Cache the pip directory. "cache: pip" doesn't work due to install override. See https://github.com/travis-ci/travis-ci/issues/3239.
cache:
  - directories:
    - $HOME/.cache/pip

before_install:
  - curl -O https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.5.2.zip
  - unzip elasticsearch-1.5.2.zip
  - elasticsearch-1.5.2/bin/elasticsearch -d


install:
  - "pip install -U pip wheel coveralls"
  - make requirements


script: make validate

after_success: coveralls
