name: Python CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'

jobs:
  run_tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]
        python-version: ['3.8']
        toxenv: [django32, django42, quality]

    steps:
    - uses: actions/checkout@v2
    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Start Elasticsearch
      run: make test.start_elasticsearch

    - name: Install pip
      run: pip install -r requirements/pip.txt

    - name: Install Dependencies
      run: pip install -r requirements/ci.txt

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: sleep 10 && tox

    - name: Run Coverage
      if: matrix.python-version == '3.8' && matrix.toxenv=='django42'
      uses: codecov/codecov-action@v3
      with:
        flags: unittests
        files: htmlcov/index.html
        fail_ci_if_error: true
